@model GiftYourbeloved.Models.Catagoryinfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Catagoryinfo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Catagory_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Catagory_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.catagory_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
