@model GiftYourbeloved.Models.Productinfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Productinfo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductBrand.Brand)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductBrand.Brand)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductCategory.Category)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductCategory.Category)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Occasion.ProductOccasion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Occasion.ProductOccasion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Person_tag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Person_tag)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.age_tag)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.age_tag)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
